* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

main {
    flex: 1 0 auto;
  }
  
nav {
  background-color: #2b4b40;
}

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-large {
  background-color: #92a742;
}

.btn-large:hover {
  background-color: #b48c59;
}

.flashes h4 {
  line-height: 2;
}

.card-link {
  color: #000 !important;
}