* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Materialize sticky-footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  
nav {
  background-color: #2b4b40;
}

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-large {
  background-color: #92a742;
}

.btn-large:hover {
  background-color: #b48c59;
}

.flashes h4 {
  line-height: 2;
}

/* .header-text {
  color: #133840;
} */

.card-panel {
  /* background-color: #133840; */
  /* color: #f6f6f6; */
  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

/* .card-panel-mod {
  background-color: #fef49d;
  color: #133840;
} */

.page-footer-mod {
  background-color: #2b4b40;
}
