{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="card-panel">
      <h3 class="header-text center-align">Add Recipes</h3>
    </div>
  
      <div class="row">
        <form class="col s12 card-panel" method="POST" action="">
          <!-- Name -->
          <div class="row">
            <div class="input-field col s12 m8 offset-m2">
              <i class="far fa-plus-square prefix"></i>
              <input id="recipe_name" name="recipe_name" type="text" class="validate"
                minlength="3" maxlength="20" required>
              <label for="recipe_name">Recipe Name</label>
            </div>
          </div>
          <!-- Description -->
          <div class="row">
            <div class="input-field col s12 m8 offset-m2">
              <i class="fas fa-info-circle prefix"></i>
              <input id="recipe_description" name="recipe_description" type="text" class="validate"
                minlength="3" maxlength="200" required>
              <label for="recipe_description">Recipe Description</label>
            </div>
          </div>
            <!-- Time -->
            <div class="row">
            <div class="input-field col s12 m8 offset-m2">
              <i class="far fa-clock prefix"></i>
              <input id="recipe_time" name="recipe_time" type="text" class="validate"
                minlength="3" maxlength="20" required>
              <label for="recipe_time">Recipe Time</label>
            </div>
          </div>
            <!-- Difficulty -->
            <div class="row">
            <div class="input-field col s12 m8 offset-m2">
              <i class="fas fa-mountain prefix"></i>
              <input id="recipe_difficulty" name="recipe_difficulty" type="text" class="validate"
                minlength="3" maxlength="20" required>
              <label for="recipe_difficulty">Difficulty</label>
            </div>
          </div>
          <!-- Ingredients -->
            <div class="row">
            <div class="input-field col s12 m8 offset-m2">
              <i class="fas fa-list-ul prefix"></i>
              <textarea id="recipe_ingredients" name="recipe_ingredients" type="text" class="materialize-textarea"
                minlength="3" maxlength="200" placeholder="Separate ingredients with commas" required></textarea>
              <label for="recipe_ingredients">Ingredients</label>
            </div>
          </div>
          <!-- Method -->
            <div class="row">
            <div class="input-field col s12 m8 offset-m2">
              <i class="fas fa-list-ol prefix"></i>
              <textarea id="recipe_method" name="recipe_method" type="text"
                minlength="3" maxlength="500" class="materialize-textarea"
                placeholder="Separate ingredients with commas" required></textarea>
              <label for="recipe_method">Recipe instructions</label>
            </div>
          </div>
          <!-- Image -->
           <div class="row">
            <div class="input-field col s12 m8 offset-m2">
              <i class="fas fa-camera-retro prefix"></i>
              <input id="recipe_image" name="recipe_image" type="text" class="validate"
                minlength="3" maxlength="20" required>
              <label for="recipe_image">Add Image URL</label>
              <p class="lead">Image URLs should end in <em>.jpg, .jpg </em> or <em>.png</em></p>  
            </div>
          </div>
        </form>
      </div>
  </div>
{% endblock %}

<i class="far fa-images"></i>
<i class="fas fa-camera-retro"></i>