{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <div class="card-panel">
        <!-- find out how to add all recipes added by that user -->
        <h3 class="center-align header-text">
          {{ recipe.recipe_name }}
        </h3>
        <p>By: {{ recipe.created_by }}</p>
        <p>{{ recipe.recipe_description }}</p>
        <p>{{ recipe.recipe_time }} mins</p>
        <p>{{ recipe.recipe_ingredients }}</p>
        <p>{{ recipe.recipe_method }}</p>
        <!-- Recipe Image -->
            <img src="{{ url_for('uploaded_image', filename=recipe.recipe_image)}}" alt="Image for {{ recipe.recipe_name }}">
        <!-- Edit/Delete Buttons -->
        <div class="row">
          <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small my-btn blue lighten-1">Edit</a>
          <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small my-btn red darken-4">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

