<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get Fed</title>
</head>
<body>
    {% for recipe in recipes %}
        {{ recipe.recipe_image }}<br>
        {{ recipe.recipe_name }}<br>
        {{ recipe.recipe_author }}<br>
        {{ recipe.recipe_time }}<br>
        {{ recipe.recipe_difficulty }}<br>
        {{ recipe.recipe_ingredients }}<br>
        {{ recipe.recipe_method }}<br>
    {% endfor %}
</body>
</html>