{% extends "base.html" %}
{% block content %}



<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <!-- find out how to add all recipes added by that user -->
        <h3 class="center-align header-text">
            {{ username }}'s Recipes
        </h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <p class="center-align">
      Want to add a recipe?
      <a href="{{ url_for('add_recipe') }}" class="light-blue-text text-darken-4">Add Recipe</a></p>
  </div>
</div>

{% endblock %}