{% extends "base.html" %}
{% block content %}
<!-- Heading -->
<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel center align">
      <h3 class="center-align header-text">
        Additional Resources
      </h3>
      <p><em>from people we like</em> </p>
    </div>
  </div>
</div>
<!-- Main Content -->
<div class="row">
  <div class="col s12">
    <!-- Card 1 -->
    <div class="card-panel">
      <div class="row">
        <div class="col s12 xl4">
          <div class="card card-resources">
            <div class="card-image-ad">
              <img src="static/images/kc.jpg">
            </div>
            <div class="card-content">
              <span class="card-title">Kitchen Confidential</span>
              <p>“Kitchen Confidential" is the book that made Anthony Bourdain and, after two decades, it holds up
                extremely well</p>
            </div>
            <div class="card-action center-align">
              <a class="btn-small"
                href="https://www.amazon.com/Kitchen-Confidential-Deluxe-Adventures-Underbelly/dp/0062899546"
                target="_blank">Buy the book</a>
            </div>
          </div>
        </div>
        <div class="col s12 xl4">
          <!-- Card 2 -->
          <div class="card card-resources">
            <div class="card-image-ad">
              <img src="static/images/ud.jpg">
            </div>
            <div class="card-content">
              <span class="card-title">Ugly Delicious</span>
              <p>Elite chefs and entertainers like Jimmy Kimmel, Nick Kroll and Ali Wong join the Emmy-nominated
                culinary adventure</p>
            </div>
            <div class="card-action center-align">
              <a class="btn-small"
                href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.netflix.com%2Fgr-en%2Ftitle%2F80170368&psig=AOvVaw20SwJjkSriwAZhxEFwgWMN&ust=1617024629155000&source=images&cd=vfe&ved=2ahUKEwiki5emjNPvAhXMRcAKHSzgDbMQr4kDegUIARDCAQ"
                target="_blank">Watch the show</a>
            </div>
          </div>
        </div>
        <div class="col s12 xl4">
          <!-- Card 3 -->
          <div class="card card-resources">
            <div class="card-image-ad">
              <img src="static/images/4hc.jpg">
            </div>
            <div class="card-content">
              <span class="card-title">The 4 hour Chef</span>
              <p>The New York Times #1 Bestseller, The 4-Hour Chef, isn’t just a cookbook. It’s a
                choose-your-own-adventure guide to the world of rapid learning.</p>
            </div>
            <div class="card-action center-align">
              <a class="btn-small" href="https://www.amazon.co.uk/4-Hour-Chef-Learning-Anything-Official/dp/1477800077"
                target="_blank">Buy the book</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}