{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel center align">
      <!-- find out how to add all recipes added by that user -->
      <h3 class="center-align header-text">
        Additional Resources
      </h3>
      <p><em>from people we like</em> </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image-ad">
              <img src="static/images/kc.jpg">
            </div>
            <div class="card-content">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action center-align">
              <a class="btn-small" href="https://www.amazon.com/Kitchen-Confidential-Deluxe-Adventures-Underbelly/dp/0062899546" target="_blank">Buy the book</a>
            </div>
          </div>
        </div>
      <!-- </div>
      <div class="row"> -->
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image-ad">
              <img src="static/images/ud.jpg">
            </div>
            <div class="card-content">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action center-align">
              <a class="btn-small" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.netflix.com%2Fgr-en%2Ftitle%2F80170368&psig=AOvVaw20SwJjkSriwAZhxEFwgWMN&ust=1617024629155000&source=images&cd=vfe&ved=2ahUKEwiki5emjNPvAhXMRcAKHSzgDbMQr4kDegUIARDCAQ"  target="_blank">Watch the show</a>
            </div>
          </div>
        </div>
      <!-- </div> -->
      <!-- <div class="row"> -->
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image-ad">
              <img src="static/images/4hc.jpg">
            </div>
            <div class="card-content">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action center-align">
              <a class="btn-small" href="https://www.amazon.co.uk/4-Hour-Chef-Learning-Anything-Official/dp/1477800077" target="_blank">Buy the book</a>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>
{% endblock%}